<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<body>
  <div id="app">
    <!-- 按钮 -->
    <button>as</button>
    <button @click.stop="ShowHidden = !ShowHidden">显示或隐藏</button>
    <!-- 下拉列表 -->
    <div @click="" v-clickoutside="handleClose">
      <div v-if="ShowHidden" ref="box">
        <!-- 列表内容 -->
        <p v-for="(item,index) in 5" :key="index" @click.stop="ConBtn(index)">内容{{index}}</p>
      </div>
    </div>
  </div>
  <script src="https://zhangshumiao.cn/cdn/vue/vue.min.js"></script>
  <script>
    const clickoutside = {
      // 初始化指令
      bind(el, binding, vnode) {
        console.log(el);
        function documentHandler(e) {
          // 这里判断点击的元素是否是本身，是本身，则返回
          if (el.contains(e.target)) {
            return false;
          }
          // 判断指令中是否绑定了函数
          if (binding.expression) {
            // 如果绑定了函数 则调用那个函数，此处binding.value就是handleClose方法
            binding.value(e);
          }
        }
        // 给当前元素绑定个私有变量，方便在unbind中可以解除事件监听
        el.__vueClickOutside__ = documentHandler;
        document.addEventListener('click', documentHandler);
      },
      update() { },
      unbind(el, binding) {
        // 解除事件监听
        document.removeEventListener('click', el.__vueClickOutside__);
        delete el.__vueClickOutside__;
      },
    };
    new Vue({
      el: '#app',
      data: {
        ShowHidden: false,
      },
      directives: {clickoutside},
      mounted() {
        // document.addEventListener('click', this.HiddenClick);
        // this.HiddenClick();
      },
      methods: {
        // 点击页面事件 隐藏需要隐藏的区域
        HiddenClick(e) {
          console.log(this.$refs.box.contains(e.target));
          if (!this.$refs.box.contains(e.target)) {
            console.log(e);
            console.log(this.$refs.box.contains(e.target));
            this.ShowHidden = false;
          }
          // this.ShowHidden = false;
        },
        // 点击列表内，选中内容，并隐藏
        ConBtn(val) {
          console.log('内容' + val)
          // this.ShowHidden = false;
          this.ShowHidden = true;
        },
        handleClose(e) {
          this.ShowHidden = false;
        },
      }
    })
  </script>
</body>

</html>